<section>
    <br>
    <h2 class="text-center" style="font-weight: 500;"><b>THÔNG TIN CÔNG TY</b></h2>
    <br>
    <div class="wrapper">
        <div class="item" *ngFor="let a of articles,let i of index">
            <a href="javascript:void(0)" [routerLink]="['/articlec',a.id]" style="color: black;">
                <h3><b>{{a.title}}</b></h3>
            </a>
            <a href="javascript:void(0)" [routerLink]="['/articlec',a.id]">
                <img [src]="a.path" alt="picture">
            </a>
            <a href="javascript:void(0)" [routerLink]="['/articlec',a.id]" style="color: black;">
                <p class="content">{{a.content}}</p>
            </a>
        </div>
    </div>
</section>