.nav-brand-company {
    font: 22px Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: #67b0d1;
}

.link-title {
    font-size: 16px;
    // font-weight: 800;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    color: #67b0d1;
}