<footer class="wrapper">
    <div class="text-right">
        <div class="social">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div class="social">
                <div>
                    <a href="fb.com"><img src="../../../assets/networks.svg" alt="facebook" style="width:100%"></a>
                </div>
                <div>
                    <a href="fb.com"><img src="../../../assets/social-media-logo.svg" alt="facebook" style="width:100%"></a>
                </div>
                <div>
                    <a href="fb.com"><img src="../../../assets/networks (1).svg" alt="facebook" style="width:100%"></a>
                </div>
                <div>
                    <a href="fb.com"><img src="../../../assets/networks (2).svg" alt="facebook" style="width:100%"></a>
                </div>
                <div></div>
            </div>
        </div>
    </div>
    <br>
    <div class="text-center">
        <h5><b>© Copy right 2019 T-Solition. All rights reserved</b></h5>
        <p><b>Designed by T-Solution</b></p>
    </div>
</footer>