<footer class="wrapper">
    <div class="text-right">
        <div class="social">
            <div class="contact-line text-left">
                <!-- <div class="text-center"> -->
                <span><fa-icon [icon]="faHouseUser"></fa-icon> <p>Tòa nhà Sun Square, số 21 Lê Đức Thọ, Nam Từ Liêm, Hà Nội</p></span><br>
                <span><fa-icon [icon]="faPhone"></fa-icon> <p>Hotline: 012 1234 5423 / 1717</p></span><br>
                <span><fa-icon [icon]="faEnvelope"></fa-icon> <p>Email: happynewyear@ts.com.vn</p></span>
                <!-- </div> -->
            </div>
            <div class="social">
                <div>
                    <a href="https://www.facebook.com/C%C3%B4ng-ty-c%E1%BB%95-ph%E1%BA%A7n-C%C3%B4ng-Ngh%E1%BB%87-T-Solution-101645844584500/"><img src="../../../assets/networks.svg" alt="facebook" style="width:60%"></a>
                </div>
                <div>
                    <a href="fb.com"><img src="../../../assets/social-media-logo.svg" alt="facebook" style="width:60%"></a>
                </div>
                <div>
                    <a href="fb.com"><img src="../../../assets/networks (1).svg" alt="facebook" style="width:60%"></a>
                </div>
                <div>
                    <a href="fb.com"><img src="../../../assets/networks (2).svg" alt="facebook" style="width:60%"></a>
                </div>
            </div>
        </div>
    </div>
    <br>

</footer>