<footer class="wrapper">
    <div class="text-right">
        <div class="footer-grid">
            <div class="contact-line text-left">
                <span><fa-icon [icon]="faHouseUser"></fa-icon><p> 18A7-Tòa nhà Sun Square, số 21 Lê Đức Thọ, Nam Từ Liêm, Hà Nội</p></span><br>
                <span><fa-icon [icon]="faPhone"></fa-icon> <p> Điện thoại: 0387839103</p></span><br>
                <span><fa-icon [icon]="faEnvelope"></fa-icon> <p> Email1:  tsolutionvietnam@gmail.com </p></span><br>
            </div>
            <div class="website-page">
                <ul>
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Tuyển dụng</a></li>
                    <li><a href="">Liên hệ</a></li>
                </ul>
            </div>
            <div class="social">
                <p class="d-flex justify-content-center">Liên hệ với chúng tôi</p>
                <ul class="d-flex justify-content-center" style="padding: 0;">
                    <li>
                        <a href="https://www.facebook.com/C%C3%B4ng-ty-c%E1%BB%95-ph%E1%BA%A7n-C%C3%B4ng-Ngh%E1%BB%87-T-Solution-101645844584500/"><img src="../../../assets/networks.svg" alt="facebook" style="width:20px"></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/C%C3%B4ng-ty-c%E1%BB%95-ph%E1%BA%A7n-C%C3%B4ng-Ngh%E1%BB%87-T-Solution-101645844584500/"><img src="../../../assets/networks (1).svg" alt="facebook" style="width:20px"></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/C%C3%B4ng-ty-c%E1%BB%95-ph%E1%BA%A7n-C%C3%B4ng-Ngh%E1%BB%87-T-Solution-101645844584500/"><img src="../../../assets/social-media-logo (1).svg" alt="facebook" style="width:20px"></a>
                    </li>
                </ul>
                <!-- <div class="d-flex justify-content-center picture-logo">
                    <img src="../../../assets/img/637006761882276854_logo.jpg" alt="logo_T-Solution ">
                </div> -->
            </div>
        </div>
    </div>
    <br>

</footer>